{% extends "base.html" %}

{% block content %}


<div class="min-h-full">
    {% include "partials/side_bar.html" %}

    <div class="lg:pl-64 flex flex-col flex-1">
        <div class="relative z-10 flex-shrink-0 flex h-16 border-b border-gray-200 lg:border-none">
            <button type="button"
                class="px-4 border-r border-gray-200 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-500 lg:hidden">
                <span class="sr-only">Open sidebar</span>
                <!-- Heroicon name: outline/menu-alt-1 -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </button>
        </div>
        <main class="flex-1 pb-8">
            <!-- Page header -->
            <!-- This example requires Tailwind CSS v2.0+ -->
            <!-- Contact section -->
            <section class="relative bg-white" aria-labelledby="contact-heading">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <h2 id="contact-heading" class="sr-only">Contact us</h2>

                    <div class="grid grid-cols-1 lg:grid-cols-3">
                        <!-- Contact form -->
                        <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
                            <h3 class="text-lg font-medium text-warm-gray-900">Send us a message</h3>
                            <form method="POST" class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                                <div>
                                    <label for="first-name" class="block text-sm font-medium text-warm-gray-900">First
                                        name</label>
                                    <div class="mt-1">
                                        <input type="text" name="first-name" id="first-name" autocomplete="given-name"
                                            class="py-3 px-4 block w-full shadow-sm text-warm-gray-900 focus:ring-teal-500 focus:border-teal-500 border-warm-gray-300 rounded-md">
                                    </div>
                                </div>
                                <div>
                                    <label for="last-name" class="block text-sm font-medium text-warm-gray-900">Last
                                        name</label>
                                    <div class="mt-1">
                                        <input type="text" name="last-name" id="last-name" autocomplete="family-name"
                                            class="py-3 px-4 block w-full shadow-sm text-warm-gray-900 focus:ring-teal-500 focus:border-teal-500 border-warm-gray-300 rounded-md">
                                    </div>
                                </div>
                                <div>
                                    <label for="email"
                                        class="block text-sm font-medium text-warm-gray-900">Email</label>
                                    <div class="mt-1">
                                        <input id="email" name="email" type="email" autocomplete="email"
                                            class="py-3 px-4 block w-full shadow-sm text-warm-gray-900 focus:ring-teal-500 focus:border-teal-500 border-warm-gray-300 rounded-md">
                                    </div>
                                </div>
                                <div>
                                    <div class="flex justify-between">
                                        <label for="phone"
                                            class="block text-sm font-medium text-warm-gray-900">Phone</label>
                                        <span id="phone-optional" class="text-sm text-warm-gray-500">Optional</span>
                                    </div>
                                    <div class="mt-1">
                                        <input type="text" name="phone" id="phone" autocomplete="tel"
                                            class="py-3 px-4 block w-full shadow-sm text-warm-gray-900 focus:ring-teal-500 focus:border-teal-500 border-warm-gray-300 rounded-md"
                                            aria-describedby="phone-optional">
                                    </div>
                                </div>
                                <div class="sm:col-span-2">
                                    <label for="subject"
                                        class="block text-sm font-medium text-warm-gray-900">Subject</label>
                                    <div class="mt-1">
                                        <input type="text" name="subject" id="subject"
                                            class="py-3 px-4 block w-full shadow-sm text-warm-gray-900 focus:ring-teal-500 focus:border-teal-500 border-warm-gray-300 rounded-md">
                                    </div>
                                </div>
                                <div class="sm:col-span-2">
                                    <div class="flex justify-between">
                                        <label for="message"
                                            class="block text-sm font-medium text-warm-gray-900">Message</label>
                                        <span id="message-max" class="text-sm text-warm-gray-500">Max. 500
                                            characters</span>
                                    </div>
                                    <div class="mt-1">
                                        <textarea id="message" name="message" rows="4"
                                            class="py-3 px-4 block w-full shadow-sm text-warm-gray-900 focus:ring-teal-500 focus:border-teal-500 border border-warm-gray-300 rounded-md"
                                            aria-describedby="message-max"></textarea>
                                    </div>
                                </div>
                                <div class="sm:col-span-2 sm:flex sm:justify-end">
                                    <button type="submit"
                                        class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-teal-500 hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500 sm:w-auto">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>


{% endblock content %}