{% extends "base.html" %}

{% block content %}


<div class="min-h-full">
    {% include "partials/side_bar.html" %}

    <div class="lg:pl-64 flex flex-col flex-1">
        <div class="relative z-10 flex-shrink-0 flex h-16 border-b border-gray-200 lg:border-none">
            <button type="button"
                class="px-4 border-r border-gray-200 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-500 lg:hidden">
                <span class="sr-only">Open sidebar</span>
                <!-- Heroicon name: outline/menu-alt-1 -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </button>
        </div>
        <main class="flex-1 pb-8">
            <!-- Page header -->
            <!-- This example requires Tailwind CSS v2.0+ -->
            <!-- Contact section -->
            <section class="relative bg-white" aria-labelledby="contact-heading">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <h2 id="contact-heading" class="sr-only">Contact us</h2>

                    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe
                        class="airtable-embed airtable-dynamic-height"
                        src="https://airtable.com/embed/shryp0mLvwKatzSzu?backgroundColor=cyan" frameborder="0"
                        onmousewheel="" width="100%" height="780"
                        style="background: transparent; border: 1px solid #ccc;"></iframe>
                </div>
            </section>
        </main>
    </div>
</div>


{% endblock content %}