{% extends "base.html" %}

{% block content %}


<div class="min-h-full">
    {% include "partials/side_bar.html" %}

    <div class="lg:pl-64 flex flex-col flex-1">
        <main class="flex-1 pb-8  mt-16">
            <!-- Page header -->
            <!-- This example requires Tailwind CSS v2.0+ -->
            <!-- Contact section -->
            <section class="relative bg-white" aria-labelledby="contact-heading">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <h2 id="contact-heading" class="sr-only">Contact us</h2>

                    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe
                        class="airtable-embed airtable-dynamic-height"
                        src="https://airtable.com/embed/shryp0mLvwKatzSzu?backgroundColor=cyan" frameborder="0"
                        onmousewheel="" width="100%" height="780"
                        style="background: transparent; border: 1px solid #ccc;"></iframe>
                </div>
            </section>
        </main>
    </div>
</div>


{% endblock content %}