{% extends "base.html" %}

{% block content %}



<div class="min-h-full">
    {% include "partials/side_bar.html" %}

    <div class="lg:pl-64 flex flex-col flex-1">
        <div class="relative z-10 flex-shrink-0 flex h-16 border-b border-gray-200 lg:border-none">
            <button type="button"
                class="px-4 border-r border-gray-200 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-500 lg:hidden">
                <span class="sr-only">Open sidebar</span>
                <!-- Heroicon name: outline/menu-alt-1 -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </button>
        </div>
        <main class="flex-1 pb-8">
            <!-- Page header -->

            <div class="mt-8">
                <!-- This example requires Tailwind CSS v2.0+ -->
                {% if signed_in_home_url %}

                <div class="bg-gray-50 sm:rounded-lg">
                    <div class="px-4 py-5 sm:p-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">Online Mode</h3>
                        <div class="mt-2 max-w-xl text-sm text-gray-500">
                            <p>URL: <a href="{{signed_in_home_url}}"
                                    class="whitespace-nowrap font-medium text-blue-700 hover:text-blue-600">{{signed_in_home_url}}
                                    <span aria-hidden="true">&rarr;</span></a></p>

                            {% if credential.access_code %}
                            <p>Base Sub Domain: {{credential.base_sub_domain}}</p>
                            <p>Access Code: {{credential.access_code}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- This example requires Tailwind CSS v2.0+ -->
                <div class="bg-gray-50 sm:rounded-lg">
                    <div class="px-4 py-5 sm:p-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">Offline Mode</h3>
                        <div class="mt-2 max-w-xl text-sm text-gray-500">
                            <p>This portalbox instance is currently offline. To make it accessible online, please sign
                                in.</p>
                        </div>
                        <div class="mt-5">
                            <a type="button" href="/signin"
                                class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">Sign
                                In</a>
                        </div>
                    </div>
                </div>


                {% endif %}

                <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                    <!-- <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">Services</h3>
                        <div class="mt-3 sm:mt-0 sm:ml-4">
                            <a type="button" href="/services/new"
                                class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">Add
                                New Service</a>
                        </div>
                    </div> -->


                    <!-- <h2 class="text-lg leading-6 font-medium text-gray-900"></h2> -->
                    <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">

                        {% for service in services %}
                        <a href="{{service.url}}" target="_blank">
                            <div class="bg-white hover:bg-gray-50 overflow-hidden shadow rounded-lg">
                                <div class="p-5">
                                    <div class="flex items-center">
                                        <div class="flex-shrink-0">
                                            <img class="h-16 w-16" src="{{service.icon_url}}" alt="{{service.name}}">
                                        </div>
                                        <div class="ml-5 w-0 flex-1">
                                            <div class="text-lg font-medium text-gray-900">{{service.name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </main>
    </div>
</div>

{% endblock content %}