{% extends "base.html" %}

{% block content %}


<div class="min-h-full">
    {% include "partials/side_bar.html" %}

    <div class="lg:pl-64 flex flex-col flex-1">
        <div class="relative z-10 flex-shrink-0 flex h-16 border-b border-gray-200 lg:border-none">
            <button type="button"
                class="px-4 border-r border-gray-200 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-500 lg:hidden">
                <span class="sr-only">Open sidebar</span>
                <!-- Heroicon name: outline/menu-alt-1 -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </button>
        </div>
        <main class="flex-1 pb-8">
            <!-- Page header -->


            <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
                <div class="sm:mx-auto sm:w-full sm:max-w-md">
                    <img class="mx-auto h-12 w-auto" src="/portal.png" alt="PortalBox logo">
                    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Go Online Anonymously</h2>
                    <p class="mt-2 text-center text-sm text-gray-600">
                        Or
                        <a href="/signin" class="font-medium text-indigo-600 hover:text-indigo-500"> sign in
                            using
                            your account </a>
                    </p>
                </div>

                <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                        <form action="" method="post">
                            <input type="submit" name="upvote" value="Request" />
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


{% endblock content %}