{% extends "base.html" %}

{% block content %}


<div class="min-h-full">
    {% include "partials/side_bar.html" %}

    <div class="lg:pl-64 flex flex-col flex-1">
        <main class="flex-1 pb-8">
            <!-- Page header -->


            <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
                <div class="sm:mx-auto sm:w-full sm:max-w-md">
                    <img class="mx-auto h-12 w-auto" src="/portal.png" alt="PortalBox logo">
                    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Guest Mode</h2>
                    <p class="mt-2 text-center text-sm text-gray-600">
                        Or
                        <a href="/signin" class="font-medium text-indigo-600 hover:text-indigo-500"> sign in
                            using
                            your account </a>
                    </p>
                </div>

                <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                        <p>Guest mode lets you use <a href="https://www.portalbox.app"
                                class="font-medium text-indigo-600 hover:text-indigo-500">portalbox.app</a> reverse
                            proxy service for a limited time.</p>
                        <form action="" method="post" class="mt-16">
                            <input
                                class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                type="submit" name="upvote" value="Request" />
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


{% endblock content %}